<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <style>
        body{
            display: flex;
            vertical-align: middle;
            height: 100%;
        }
        div{
            background-color: brown;
            height: 100%;
        }
        h1{
            text-align: center;
            color:white;
        }
    </style>
    <div>
        <h1>Congratulations you are sucessfull!</h1>
    </div>
</body>
</html>